img{
    width:30%;
    float: left;
    margin:1.66%;

}
p {
    font-family:'Kanit', sans-serif;
    ;
    margin-left: 1.66%;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
}